
<form name="signup" class="signup-form" data-ng-submit="$ctrl.signup($ctrl.user)">
  <h3 class="signup-title">GET STARTED</h3>
  <!--<input type="text" class="form-control" placeholder="League Name" required data-ng-model="$ctrl.user.leagueName">-->
  <input type="email" class="form-control" placeholder="Email" required data-ng-model="$ctrl.user.email">
  <input type="text" class="form-control" placeholder="Username" required data-ng-model="$ctrl.user.username">
  <input type="password" class="form-control" placeholder="Password" required data-ng-model="$ctrl.user.password">
  <button type="submit" class="btn btn-primary signup-button">Register</button>
  <span class="signin-link">Already Registered? <a href="#/signin" class="primary-link">Sign In Here</a></span>
</form>