<div class="intro-container">
  <div class="intro-description">
    <p>Fake Sports Real Money is a web application for Fantasy Sports commissioners
    who are tired of nagging the deadbeat members of their leagues to pay the league dues.
    </p>
    <p>FSR$ allows Fantasy League commissioners to create leagues and add members to those leagues
      for league members with overdue balances, FSR$ will send daily reminders by text and/or email
      reminding them to pay. 
    </p>
  </div>
  <div class="details">
    <h3>How It Works</h3>
    <ul>
      <li>Create a League</li>
      <li>Add the league members with the contact information</li>
      <li>FSR$ will start sending payment reminders after the league starts for those with outstanding balances</li>
      <li>Since its automatic, you don't have to feel bad about hounding those deadbeats</li>
    </ul>
  </div>
</div>