<form name="signin" class="signin-form" data-ng-submit="$ctrl.signin($ctrl.user)">
  <h3 class="signin-form-title">Sign In</h3>
  <input type="text" class="form-control" id="signup-input" required placeholder="Username" data-ng-model="$ctrl.user.username">
  <input type="password" class="form-control" id="signup-input" required placeholder="Password" data-ng-model="$ctrl.user.password">
  <button type="submit" class="btn btn-primary signin-button"> Log In </button>
   <span class="signup-link">Already Registered? <a href="#/signup" class="primary-link">Sign Up Here</a></span>
</form>